<configuration scan="true" scanPeriod="60 seconds">

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd'T'HH:mm:ss.SSS} [%level] [%thread] %logger{1} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.http4s.server" level="INFO"/>
    <logger name="org.http4s.blaze.channel.nio1" level="ERROR"/>
    <logger name="org.flywaydb" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
